/* Welcome style.css file
made by: Dominique Akers, John Damaso, Jon Taylor, & Kevin Bugusky
Table of contents: 
    0) Unversal selector & Variables lines: 10-145
    1) Element type selectors
    2) Class selectors
    3) ID selectors
*/
/* Variables and Universal */
* {
  border: 0px;
}
html {
  background-color: black;
}

/* ID Selectors */
#hero {
  background-color: black;
}

#title {
  margin: -2% 0 -3% 47%;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
}

.dark-mode {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* .white-mode {
  background-color: white;
  color: black;
  font-weight: bold;
} */

#heroLand {
  background-color: #000000;
}

#title-landing {
  margin: -4% 0% -3% 4%;
}

#box1 {
  background-color: #00338d;
  margin: 0 70px 0 70px;
}

#box2 {
  background-color: red;
  margin: 0 70px 0 70px;
}

#box3 {
  background-color: red;
  margin: 0 70px 0 70px;
}

#box4 {
  background-color: red;
  margin: 0 70px 0 70px;
}

#hidden {
  display: none;
}

/* vs selectors */
.vs {
  position: relative;
}
#vs {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  margin-top: 21%;
  font-size: 154px;
  transform: rotate(45deg);
  color: rgb(1, 1, 252);
  z-index: 1;
}
#vstext {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  margin-top: 25%;
  font-size: 100px;
  color: rgb(0, 235, 243);
  z-index: 2;
}
#logo {
  background-color: #000000;
  margin: 0% 0% 0% 0%;
  display: block;
}
#logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#playbtn {
  margin: -10% 0% 0% 47%;
  z-index: 1;
}

.footer {
  background-color: black;
}
.box1 {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  padding: 1.25rem;
}

@media only screen and (max-width: 450px) {
  #jumbotron {
    display: none;
  }
  #playbtn {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}
