#redcard {
  float: right;
}
.vs {
  position: relative;
}

#vs {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 230px;
}

/* Welcome to Wings CSS style file
made by: Dominique Akers, John Damaso, Jon Taylor, & Kevin Bugusky
Table of contents: 
    0) Unversal selector & Variables lines: 10-145
    1) Element type selectors
    2) Class selectors
    3) ID selectors
*/
/* Variables and Universal */
* {
  border: 0px;
}
/* Variables for team colors to alter css dynamically 
    Here is the source of colors https://teamcolorcodes.com/kansas-city-chiefs-color-codes/*/
:root {
  /* Ari Cardinals */
  --ariCardPrimary: #97233f;
  --ariCardSecondary: #000000;
  --ariCardTertiary: #ffffff;
  /* Atl Falcons */
  --atlFalPrimary: #a71930;
  --atlFalSecondary: #000000;
  --atlFalTertiary: #a5acaf;
  /* Balt Ravens */
  --balrRavPrimary: #241773;
  --balrRavSecondary: #000000;
  --balrRavTertiary: #9e7c0c;
  /* Buff Bills */
  --buffBillPrimary: #00338d;
  --buffBillSecondary: #c60c30;
  --buffBillTertiary: #a5acaf;
  /* Chi Bears */
  --chiBearPrimary: #0b162a;
  --chiBearSecondary: #c83803;
  --chiBearTertiary: #ffff;
  /* Car Panthers */
  --carPantPrimary: #0085ca;
  --carPantSecondary: #010708;
  --carPantTertiary: #a5acaf;
  /* Cin Bengals */
  --cinBengPrimary: #fb4f14;
  --cinBengSecondary: #000000;
  --cinBengTertiary: #a5acaf;
  /* Cle Brown */
  --cleBrownPrimary: #311d00;
  --cleBrownSecondary: #ff3c00;
  --cleBrownTertiary: #ffffff;
  /* Dal Cowboys */
  --dalCowPrimary: #003594;
  --dalCowSecondary: #869397;
  --dalCowTertiary: #ffffff;
  /* Den Broncos */
  --denBrocPrimary: #fb4f14;
  --denBroncSecondary: #002244;
  --denBroncTertiary: #ffffff;
  /* Det Lions */
  --detLionPrimary: #0076b6;
  --detLionSecondary: #b0b7bc;
  --detLionTertiary: #000000;
  /* GreenBay Packers (sidenote: green doesn't look right) */
  --greenBayPrimary: #203731;
  --greenBaySecondary: #ffb612;
  --greenBayTertiary: #ffffff;
  /* Hou Texans */
  --houTexPrimary: #03202f;
  --houTexSecondary: #a71930;
  --houTexTertiary: #ffffff;
  /* Ind Colts */
  --indyColtsPrimary: #002c5f;
  --indyColtsSecondary: #a2aaad;
  --indyColtsTertiary: #ffffff;
  /* Jax Jaguars */
  --jaxJagPrimary: #006778;
  --jaxJagSecondary: #d7a22a;
  --jaxJagTertiary: #101820;
  /* KC Chiefs */
  --kcChiefPrimary: #e31837;
  --kcChiefSecondary: #ffb81c;
  --kcChiefTertiary: #ffffff;
  /* La Chargers */
  --laChargePrimary: #0080c6;
  --laChargeSecondary: #ffc20e;
  --laChargeTertiary: #ffffff;
  /* La Rams */
  --laRamsPrimary: #003594;
  --laRamsSecondary: #ffa300;
  --laRamsTertiary: #ffd100;
  /* Mia Dolphins */
  --miaDolphPrimary: #008e97;
  --miaDolphSecondary: #fc4c02;
  --miaDolphTertiary: #005778;
  /* Min Vikings */
  --minVikPrimary: #4f2683;
  --minVikSecondary: #ffc62f;
  --minVikTertiary: #ffffff;
  /* New Patriots */
  --newPatPrimary: #002244;
  --newPatSecondary: #c60c30;
  --newPatTertiary: #b0b7bc;
  /* New Saints */
  --newSaintPrimary: #d3bc8d;
  --newSaintSecondary: #101820;
  --newSaintTertiary: #ffffff;
  /* NY Giants */
  --nyGiantPrimary: #0b2265;
  --nyGiantSecondary: #a71930;
  --nyGiantTertiary: #a5acaf;
  /* NY Jets */
  --nyJetPrimary: #125740;
  --nyJetSecondary: #000000;
  --nyJetTertiary: #ffffff;
  /* Oak Raiders */
  --oakRadPrimary: #000000;
  --oakRadSecondary: #a5acaf;
  --oakRadTertiary: #ffffff;
  /* Phi Eagles */
  --phiEaglePrimary: #004c54;
  --phiEagleSecondary: #acc0c6;
  --phiEagleTertiary: #000000;
  /* Pitt Steelers */
  --pitSteelPrimary: #ffb612;
  --pitSteelSecondary: #101820;
  --pitSteelTertiary: #ffffff;
  /* Frisco 49ers */
  --friscoPrimary: #aa0000;
  --friscoSecondary: #b3995d;
  --friscoTertiary: #ffffff;
  /* Sea Seahawks */
  --seaHawkPrimary: #002244;
  --seaHawkSecondary: #69be28;
  --seaHawkTertiary: #a5acaf;
  /* Tampa Buccaneers */
  --tampBayPrimary: #d50a0a;
  --tampBaySecondary: #ff7900;
  --tampBayTertiary: #0a0a08;
  /* Tennesse Titans */
  --tTitsPrimary: #0c2340;
  --tTitsSecondary: #4b92db;
  --tTitsTertiary: #c8102e;
  /* Wash Football Team */
  --tampBayPrimary: #5a1414;
  --tampBaySecondary: #ffb612;
  --tampBayTertiary: #0a0a08;
}
/* ID Selectors */
/* Team ID selectors */
#ari {
  /* need to apply to Dominic's code & see how or if we want to use it sample below*/
  background-color: var(--ariCardPrimary);
  color: var(--ariCardSecondary);
  border-color: var(--ariCardTertiary);
  border: 2px;
  border-radius: 10px;
}
/* Add more if we want this for each team */

/* #giants {
  background-color: var(--nyGiantPrimary);
  color: var(--nyGiantSecondary);
  border-color: var(--nyGiantTertiary);
  border: 2px;
  border-radius: 10px;
} */

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 775px) {
  #cards {
    position: relative;
  }
  #red-card {
    /* display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 230px;
    left: 0%; */
    left: -33%;
  }
  #blue-card {
  }
}

@media screen and (max-width: 576px) {
}
